<div class="modal-header">
</div>

<div class="modal-body-white">    
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible"> {{errorMessage}} </div> 
    <h3 class="text-center">Are you sure you want to delete?</h3>    
</div>

<div class="modal-footer">
    <button class="btn btn-md btn-primary form-control" (click)="cancel()">Cancel</button>
    <button class="btn btn-md btn-danger form-control" (click)="delete()">Delete</button>
</div>