<div class="col-md-12" *ngFor="let employee of employees">
    <br>
    <div class="col-md-4">
        <img src="{{employee.avatar_url | s3ImageBucket}}" width="50px"/>
    </div>
    <div class="col-md-8">
        <h4>{{employee.name}} {{employee.surnames}}</h4>
    </div>
    <br>
</div>