<router-outlet></router-outlet>

<div class="row">
    <div class="col-md-7">
        <employees></employees>
    </div>
    <div class="col-md-5">
        <departaments></departaments>
    </div>
</div>
