<div class="modal-header">
    <span class="pull-left">{{ modalHeader }}</span>
    <button class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible"> {{errorMessage}} </div> 

    <div class="form-group">
        <label for="input01">Name:</label>
        <input type="email" class="form-control" [(ngModel)]="departament.name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="input01">Description:</label>
        <textarea class="form-control" [(ngModel)]="departament.description" placeholder="Description"></textarea>
    </div>
    
</div>

<div class="modal-footer">
    <button class="btn btn-md btn-primary form-control" (click)="saveChanges()">Save changes</button>
</div>