<router-outlet></router-outlet>

<div class="row">
    <div class="col-md-9">
        <timeline></timeline>
    </div>
    <div class="col-md-3">
        <ba-card>
            <a class="btn btn-lg btn-primary" routerLink="../../activities">List of Activities</a>
        </ba-card>
        <ba-card>
            <a class="btn btn-lg btn-primary" routerLink="../../company">Company info.</a>
        </ba-card>
    </div>
</div>
