<router-outlet></router-outlet>
<div class="widgets">  
  <div class="row">
    <h3>Employees</h3>
      <div class="col-md-12">
          <ba-card title="Activities List" baCardClass="with-scroll" class="data-table-container">
              <div class="row">
                  <div class="col-sm-4">
                    <input placeholder="Filter" class="form-control" [(ngModel)]="filterQuery" />
                  </div>
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                    <button  (click)="onCreate()"  class="btn btn-success pull-right">
                      New Employee
                    </button>
                  </div>
              </div>
              <br/>
              <div class="panel panel-default">
    
                  <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
                      <thead>
                          <tr>
                              <th style="width: 50px"></th>
                              <th style="width: 50%">
                                  <mfDefaultSorter by="name">Name</mfDefaultSorter>
                              </th>
                              <th style="width: 50%">
                                  <mfDefaultSorter by="description">Email</mfDefaultSorter>
                              </th>
                              <th style="width: 10%"></th>
                              <th style="width: 10%"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of mf.data">
                              <td><img src="{{item.avatar_url | s3ImageBucket}}" width="50px"/></td>
                              <td>{{item.name}} {{item.surnames}}</td>
                              <td>{{item.email}}</td>
                              <td>
                                  <button (click)="onEdit(item)" class="btn btn-success">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                  </button>
                              </td>
                              <td>
                                <button (click)="onDelete(item)" class="btn btn-danger">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                              </td>
                          </tr>
                      </tbody>
                      <tfoot>
                          <tr>
                              <td colspan="5">
                                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                              </td>
                          </tr>
                      </tfoot>
                  </table>
              </div>
          </ba-card>
      </div>
  </div>
</div>
