<router-outlet></router-outlet>
<div class="widgets">  
  <div class="row">
      <div class="col-md-12">
          <ba-card title="Activities List" baCardClass="with-scroll" class="data-table-container">
              <div class="row">
                  <div class="col-sm-4">
                    <input placeholder="Filter" class="form-control" [(ngModel)]="filterQuery" />
                  </div>
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                    <button routerLink="../../saveActivity/0" class="btn btn-success pull-right">
                      New Activity
                    </button>
                  </div>
              </div>
              <br/>
              <div class="panel panel-default">
    
                  <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
                      <thead>
                          <tr>
                              <th style="width: 15%">
                                  <mfDefaultSorter by="name">Name</mfDefaultSorter>
                              </th>
                              <th style="width: 15%">
                                  <mfDefaultSorter by="owner_id">Owner</mfDefaultSorter>
                              </th>
                              <th style="width: 30%">
                                  <mfDefaultSorter by="init_date">Start</mfDefaultSorter>
                              </th>
                              <th style="width: 30%">
                                  <mfDefaultSorter by="end_date">End</mfDefaultSorter>
                              </th>
                              <th style="width: 10%"></th>
                              <th style="width: 10%"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of mf.data">
                              <td>{{item.name}}</td>
                              <td>{{item.owner.name}} {{item.owner.surnames}}</td>
                              <td>{{item.init_date | datum }}</td>
                              <td>{{item.end_date | datum}}</td>
                              <td>
                                  <button routerLink="../../saveActivity/{{item.id}}" class="btn btn-success">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                  </button>
                              </td>
                              <td>
                                <button (click)="onDelete(item)" class="btn btn-danger">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                              </td>
                          </tr>
                      </tbody>
                      <tfoot>
                          <tr>
                              <td colspan="5">
                                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                              </td>
                          </tr>
                      </tfoot>
                  </table>
              </div>
          </ba-card>
      </div>
  </div>
</div>
