<router-outlet></router-outlet>
<div class="widgets">
  
    <div class="row">
        <div class="col-md-8">
          <ba-card> 
            <div class="row">
                <div class="col-md-4">
                    <agm-map [latitude]="activity?.latitude" [longitude]="activity?.longitude" [zoom]="12" >
                      <agm-marker *ngFor="let m of markers" [latitude]="m.latitude" [longitude]="m.longitude"></agm-marker>
                    </agm-map>
                </div>
                <div class="col-md-8">
                    <h3>{{activity?.name}}</h3>
                    <h5>Owner: {{activity?.owner?.name}} {{activity?.owner?.surnames}}</h5>
                    <div class="row">
                      <div class="col-md-4">
                        <b>Init date: </b> {{activity?.init_date | datum}}
                      </div>
                      <div class="col-md-4">
                        <b>End date: </b> {{activity?.end_date | datum}}
                      </div>
                      <div class="col-md-4">
                        <b>Private: </b> {{activity?.isPrivate}}
                      </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                  <p [innerHtml]="activity?.description"></p>
                </div>
            </div>
          </ba-card>
        </div>  
        <div class="col-md-4">
          <ba-card cardTitle="Invited people">
            <employees-invited [employees]="activity?.invited"></employees-invited> 
          </ba-card>
        </div>
    </div>  

</div>
