<div class="row" *ngIf="didFail">
  <div class="alert-danger mx-auto text-center"> <h1>Something went wrong, please try again!</h1></div>
</div>
<div class="auth-main">
  <div class="auth-block">
    <div *ngIf="!confirmUser">
    <h1>Sing up to LDMA</h1>
    <a routerLink="/pages/login" class="auth-link">Already have an LDMA account? Sign in!</a>

      <form class="form-horizontal" (ngSubmit)="onSubmit()" #usrForm="ngForm">
        <!--<div class="form-group row">-->
          <!--<label for="username"-->
          <!--class="col-sm-2 form-control-label">Name</label>-->
          <!--<div class="col-sm-10">-->
            <!--<input type="text"-->
                   <!--id="username"-->
                   <!--name="username"-->
                   <!--placeholder="username"-->
                   <!--ngModel class="form-control"-->
                   <!--required>-->
          <!--</div>-->
        <!--</div>-->
        <div class="form-group row">
          <label for="email"
          class="col-sm-2 form-control-label">Mail</label>
          <div class="col-sm-10">
            <input type="email"
            id="email"
            name="email"
            placeholder="email"
            ngModel class="form-control"
            required
            email>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-2 form-control-label">Password</label>
          <div class="col-sm-10">
            <input type="password"
            id="password"
                   name="password"
                   placeholder="password"
            ngModel
            class="form-control"
            required>
          </div>
        </div>
        <div class="form-group row">
          <label for="confirmPassword"
          class="col-sm-2 form-control-label">Repeat</label>
          <div class="col-sm-10">
            <input type="password"
            id="confirmPassword"
            name="confirmPassword"
                   placeholder="repeat password"
            ngModel class="form-control"
            required>
            <span *ngIf="usrForm.value.password !== usrForm.value.confirmPassword" class="help-block sub-little-text"> Password do not match!</span>
          </div>
        </div>
        <div class="form-group row">
        <div class="mx-auto">
          <button class="btn btn-default btn-auth"
                  type="Sign up"
                  [disabled]="(usrForm.value.password !== usrForm.value.confirmPassword) || usrForm.invalid"> Submit</button>
          <span>
            <button *ngIf="createdUser" [disabled]="!form.valid" class="btn btn-default btn-auth" (click)="onDoConfirm()">Confirm User</button>
          </span>

        </div>
        </div>

      </form>
    </div>
    <div *ngIf="confirmUser">
      <h1>Confirm your LDMA Account</h1>
      <form #confirmForm="ngForm" (ngSubmit)="onConfirm(confirmForm.value)" class="form-horizontal">
        <div class="form-group row">
           <label for="usrName"
                  class="col-sm-2 control-label">Email</label>
           <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   id="usrName"
                   name="usrName"
                   placeholder="Email"
                    ngModel
                  required>
           </div>
        </div>
        <div class="form-group row">
          <label for="validationCode"
                 class="col-sm-2 control-label">Code</label>
          <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   id="validationCode"
                   placeholder="validation code"
                   name="validationCode"
                   ngModel
                   required>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button [disabled]="!confirmForm.valid" class="btn btn-default btn-auth">Confirm your Account</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
