.modal-header {
  border: none;
  padding: 15px;
}

.modal-body{
  background-color: #444 !important;
}
.modal-body-white{
  background-color: #fff !important;
}

.modal-footer {
  border: none;
}

button.close {
  padding-bottom: 2px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;

  &:hover {
    opacity: .5;
  }
}
