<div class="row" *ngIf="didFail">
    <div class="alert-danger mx-auto text-center"> <h1>Something went wrong, please try again!</h1></div>
</div>
<div class="auth-main">
    <div class="auth-block">
        <div *ngIf="!confirmPassword">

        <h1 translate>{{'forgotPassword.title'}}</h1>
        <form class="form-horizontal" (ngSubmit)="onSubmit()" #fgForm="ngForm">
            <div class="form-group row">
                <label for="email"
                       class="col-sm-2 form-control-label">Mail</label>
                <div class="col-sm-10">
                    <input type="email"
                           id="email"
                           name="email"
                           placeholder="email"
                           ngModel class="form-control"
                           required
                           email>
                </div>
            </div>
            <div class="form-group row">
                <div class="mx-auto">
                    <button class="btn btn-default btn-auth"
                            type="submit"
                            [disabled]="fgForm.invalid"> Submit</button>

                </div>
            </div>
        </form>
    </div>
    <div *ngIf="confirmPassword">
        <h1 translate>{{'forgotPassword.title'}}</h1>
        <form #confirmForm="ngForm" (ngSubmit)="onConfirm(confirmForm.value)" class="form-horizontal">
            <div><p>Set your new password with the verification code that was sent to you</p></div>
            <div class="form-group row">
                <label for="newPassword"
                       class="col-sm-2 control-label"> Password</label>
                <div class="col-sm-10">
                    <input type="password"
                           class="form-control"
                           id="newPassword"
                           name="newPassword"
                           placeholder="New Password"
                           ngModel
                           required>
                </div>
            </div>
            <div class="form-group row">
                <label for="validationCode"
                       class="col-sm-2 control-label">Code</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="validationCode"
                           placeholder="validation code"
                           name="validationCode"
                           ngModel
                           required>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button [disabled]="!confirmForm.valid" class="btn btn-default btn-auth">Reset your Password</button>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>