<div class="widgets box">
    <ul id="first-list">
        <li *ngFor="let activity of activityList">
            <span></span>
            <div class="title">
                <a routerLink="../../activity/{{activity.id}}">
                    {{activity.name}}
                </a>
            </div>
            <div class="info">{{activity.description | mini:200}}</div>
            <div class="name">- {{activity.owner.name}} {{activity.owner.surnames}} -</div>
            <div class="time">
                <span>{{activity.init_date | datum}}</span>
                <span>{{activity.end_date | datum}}</span>
            </div>
            <div class="row">
                <div class="col-md-1" *ngFor="let employee of activity.invited">
                    <img class="photo-icon" title="{{employee.name}} {{employee.surnames}}" 
                        src="{{employee.avatar_url | s3ImageBucket}}">
                </div>
            </div>
        </li>
    </ul>
</div>