<div class="modal-header">
    <span class="pull-left">{{ modalHeader }}</span>
    <button class="close pull-right"aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible"> {{errorMessage}} </div> 

    <div class="row">
        <div class="col-md-3" id="preview">
            <img [src]="image" width="150px"/>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <label for="input01">Email:</label>
                <input type="email" [formControl]="email" class="form-control" name="email" id="email" [(ngModel)]="employee.email" placeholder="Email"/>
            </div>
            <div class="form-group">
                <label for="input01">Name:</label>
                <input type="text" class="form-control" name="name" id="name" [(ngModel)]="employee.name" placeholder="Name"/>
            </div>
            <div class="form-group">
                <label for="input01">Surnames:</label>
                <input type="text" class="form-control" name="surnames" id="surnames"  [(ngModel)]="employee.surnames" placeholder="Surnames"/>
            </div>
            <div class="form-group">
                <label for="input01">Profile Image:</label>
                <input type="file" (change)="fileEvent($event)" />
            </div>
        </div>
    </div>
    
</div>

<div class="modal-footer">
    <button class="btn btn-md btn-primary form-control" (click)="saveChanges()">Save changes</button>
</div>