
<div class="widgets">

  <div class="row">
      <div class="col-md-4">
        <ba-card cardTitle="Save Activity">

          <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible"> {{errorMessage}} </div> 

          <div class="form-group">
            <label for="input01">Activity Name:</label>
            <input type="text" class="form-control" [(ngModel)]="activity.name" placeholder="Activity name">
          </div>

          <div class="form-group">
            <label for="input01">Description:</label>
            <textarea class="form-control" [(ngModel)]="activity.description" placeholder="Description"></textarea>
          </div>

          <div class="form-group">
            <label for="input01">Activity Date:</label>
            <input type="text" class="form-control" name="picker" daterangepicker (selected)="selectedDate($event, daterange)" />
          </div>

          <div class="form-group">
              <label for="input01">Private</label>
              <div class="input-demo radio-demo row">
                <div class="col-md-4">
                  <label class="radio-inline custom-radio nowrap">
                    <input type="radio" [value]="true" [(ngModel)]="activity.isPrivate">
                    <span translate>Yes</span>
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="radio-inline custom-radio nowrap">
                    <input type="radio" [value]="false" [(ngModel)]="activity.isPrivate">
                    <span>No</span>
                  </label>
                </div>
              </div>
          </div>

          <button (click)="save()" class="btn btn-success">Save</button>
          <button (click)="cancel()" class="btn btn-danger">Cancel</button>

        </ba-card>
      </div>
      <div class="col-md-4">
        <ba-card cardTitle="Invite people">
            <ng-select  [multiple]="true"
                        [items]="items"
                        [active]="selectedItems"
                        (selected)="selected($event)"
                        (removed)="removed($event)"
                        placeholder="You will be alone 💩"></ng-select>     

            <employees-invited [employees]="activity.invited"></employees-invited> 
            
        </ba-card>
      </div>
      <div class="col-md-4">
        <ba-card>
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="12" (mapClick)="changeMarker($event)">
            <agm-marker *ngFor="let m of markers" [latitude]="m.latitude" [longitude]="m.longitude"></agm-marker>
          </agm-map>
        </ba-card>
      </div>
    </div>

</div>
